@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

@layer base {
    :root {
        --primary-25: #faf5ff;
        --primary-50: #f2f6fc;
        --primary-100: #e1ecf8;
        --primary-200: #c9def4;
        --primary-300: #b3d2ef;
        --primary-400: #79ade1;
        --primary-500: #598fd8;
        --primary-600: #4575cb;
        --primary-700: #3b62ba;
        --primary-800: #355098;
        --primary-900: #2f4579;
        --primary-950: #212c4a;
    }
}
